// ==============================
// Social
// =============================

.social-links {
  text-align: left;
  position: relative;
  bottom: 0;

  .iconfont {
    font-size: $social-icon-font-size;


    & + .iconfont {
      margin-left: $social-link-margin-left;
    }

    &:hover {
      color: $theme-color;
    }
  }
}
