/* Increase the default font size */
html {
  font-size: 15pt;
}

bgtext span {
  background-color: green; 

}


a:hover {
  color: #4A75FF !important; /* Your preferred hover color */
  text-decoration: underline; /* Add underline on hover */
}

a.text-base {
  font-size: 1rem;   /* size for site title */
}