/* Increase the default font size */
html {
  font-size: 15pt;
}

bgtext span {
  background-color: green; 

}


a:hover {
  color: #FF9E4A !important; /* Your preferred hover color */
  /* color: #4A75FF !important;  Your preferred hover color */
  text-decoration: underline; /* Add underline on hover */
}

/* Change font size of site title in header */
a.text-base.font-medium.text-gray-500.hover\:text-gray-900 {
  font-size: 1.5rem !important;   /* adjust to taste, e.g. 1.5rem */
  line-height: 1.2 !important;
}
