// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

// ========== Color ========== //
$black: #161616 !default;
$white: #FFFDF8 !default;         //because for some reason there is a white bar at the top of the screen....so i need to recode as black
$light-gray: #C1C1C1 !default;
$gray: #cacaca !default;
$dark-gray: #403f3B !default;
$linkcolor: #000000 !default;


// Background color of the site.
$global-background: $white !default;


// Font family of the logo.
$logo-font-family: 'Courier New', !default;
$logo-float-setting: left;
$logo-padding-top: 6px;
// Menu font family of the site. (see "_menu.scss" )
$global-menu-font-family: 'Futura', !default;
$menu-bottom-border-size: 0px;



$menu-link-font-size: 20px;

// Serif font family of the site. (use for headers)
// $global-serif-font-family: Athelas, STHeiti, Microsoft Yahei, serif !default;
// $global-serif-font-family: 'Lucida Grande', sans-serif !default;
$global-serif-font-family: 'Courier New', 'Helvetica Neue', Arial, sans-serif !default;


// Font family of the site.
//$global-font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;
$global-font-family: 'Courier New', 'Helvetica Neue', Arial, sans-serif !default;


$global-font-size: 14px;



// Text color of the body.
// $global-font-color: #34495e !default;
$global-font-color: $dark-gray !default;



// Headings font size of the site.
$global-headings: (
  h1: 20px,
  h2: 16px,
  h3: 18px,
  h4: 14px,
  h5: 12px,
  h6: 12px
) !default;


// Kerning and uppercase transformation for headings
// $heading-letter-spacing: 5px;

$headings-spacing: (
  h2: 3px,
) !default;

$headings-transform: (
  h2: uppercase,
) !default;


// h1::before {
//   color: var(--darkMaincolor);
//   content: "# ";
// }
// h2::before {
//   color: var(--darkMaincolor);
//   content: "## ";
// }
// h3::before {
//   color: var(--darkMaincolor);
//   content: "### ";
// }
// h4::before {
//   color: var(--darkMaincolor);
//   content: "#### ";
// }
// h5::before {
//   color: var(--darkMaincolor);
//   content: "##### ";
// }
// h6::before {
//   color: var(--darkMaincolor);
//   content: "###### ";
// }


// Menu hover color
$menu-hover-color: 'blue' !default;

// Link color (see "_post/content.scss" for where the var is used)
// $link-color: #6600ff;
// $link-color: #660000;
$link-color: $linkcolor;

// Border bottom of the link when hover it.
$content-link-border: 1px solid $link-color !default;

// Social links
$social-icon-font-size: 30px;
$social-link-margin-left: 5px;



$header-padding: 15px;

$post-padding: 0px;
$post-margin-top: 40px;



// how wide is the whole site
$global-body-width: 600px;

// pad to edge of screen
$global-container-padding: 0 20px !default;


// for some reason, setting max with to 0 turns off mobile site. it also stops text from moving when screen is resized.
$max-width: 0;
$mobile-navbar-height: 0;



// Make it so that links don't spill across multiple lines
.post-content {
  a {
    color: $link-color;
    word-break: normal;

    &:hover {
      border-bottom: $content-link-border;
    }
}
}